{% extends "layout.html" %}

{% block title %}Current Readings - Allotment Control{% endblock %}


{% block head %}
{% endblock %}


{% block content %}

	<h1>Allotment Control</h1>
	<h2>Current Readings</h2>

	<div class="row">
		<div class="col-md-6" style="background-color: #9999dd; height: 110px;">Potatos</div>
		<div class="col-md-6" style="background-color: #99dd99; height: 110px;">Green Beans</div>
	</div>
	
		<div class="row">
		<div class="col-md-6" style="background-color: #99dd99; height: 110px;">Potatos</div>
		<div class="col-md-3" style="background-color: #dd99dd; height: 110px;">Sunflowers and Pond</div>
		<div class="col-md-3" style="background-color: #99dddd; height: 110px;">Gazeebo</div>
	</div>

{% endblock %}

